<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body style="
            margin: 0;
            padding: 0;
            background: #f6f6f6;
            color: #153643;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 20px;
           ">

        <table align="center" border="0" bgcolor="#f6f6f6" cellpadding="0" cellspacing="0" width="750" style="border-collapse: collapse; ">
            <tr>
                <td align="center" bgcolor="#f6f6f6" style="padding: 0px 0 0px 0;">
                    <!--<img alt="logo" width="100%" height="auto" style="display: block;" src="cid:logo_land.png"/>-->
                    <img alt="logo" width="100%" height="auto" style="display: block;" src="../../../static/email/img/logo_land.png">
                </td>
            </tr>

            <tr>
                <td bgcolor="#f6f6f6" style="padding: 10px 15px;">
                    <h3>
					Olá <samp class="usuario_destacado" style="color: #000; font-weight: bolder;">{0}!</samp>
				</h3>
                    <p style="text-indent: 1.5em;"> --- ROTINA DE DOCUMENTAÇÃO ---- </p>
                    <p style="text-indent: 1.5em;">Este e-mail deverá ser enviado no dia da reunião de forma manual.
para que o cliente tenha documentado, quais serão os documentos que deverá enviar ao escritório dentro do período restante dos 30 dias, que antecedem o inicio efetivo da contabilidade feita pela Yourcont.</p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #828AC5; padding: 5px 5px 5px 5px;">
                    <a href="https://www.facebook.com" style="margin: 5px; padding: 5px; text-decoration:none;">
                        <!--<img class="my_net_icon" alt src="cid:face.png" style="background: #f6f6f6; border: 2px solid #000; height: 20px; margin: 4px; padding: 3px; width: 20px;">-->
                        <img width="20" height="20" alt src="../../../static/email/img/face.png">
                    </a>

                    <a href="https://www.instagram.com/" style="margin: 5px; padding: 5px; text-decoration:none;">
                        <!--<img class="my_net_icon" alt src="cid:insta.png" style="background: #f6f6f6; border: 2px solid #000; height: 20px; margin: 4px; padding: 3px; width: 20px;">-->
                        <img width="20" height="20" alt src="../../../static/email/img/insta.png">
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>