<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0;">
	<head style="height: 100%; margin: 0;">
		<meta name="viewport" content="width=device-width">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{0}</title>
		
	</head>

	<body style="background-color: #f6f6f6; color: #5a5c60; font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif; font-size: 16px; height: 100%; line-height: 1.6; padding: 0px;">
		<div id="maindiv" style="align-content: center; box-sizing: border-box; font-size: 14px; margin: 0px auto; min-height: 100%; padding-bottom: 1em; position: relative; width: 700px !important;">
			<header style="background-color: #f6f6f6; padding: 20px;">
				<img alt src="cid:file.jpg" style="height: auto; width: 100%;">
				<img alt src="../../../static/img/file.jpg" style="height: auto; width: 100%;">
			</header>

			<article style="background-color: #f6f6f6; font-size: 16px; margin-bottom: 100px; padding: 20px;">
				<h3>
					Olá <samp class="usuario_destacado" style="color: #000; font-weight: bolder;">{0}!</samp>
				</h3>

				<p>Agora você também faz parte do grupo de Sellers Yourcont que escolheram ter mais tempo para gerir o seu negócio e redefinir a maneira como você cuida da saúde da sua empresa.</p>

				<p>Nós também estamos felizes em tê-lo como nosso parceiro e entendemos a importância em ajuda-lo a economizar tempo.</p>

				<p>Os clientes Yourcont têm nosso auxilio para se organizar melhor e de uma maneira pensada para os dias de hoje, mais inteligente, simples e transparente.</p>

				<p>A partir de hoje, todos os dados da sua empresa terão que ser devidamente inseridos e organizados, em seu sistema de gestão, isso permitirá que a Yourcont oriente você para uma melhor tomada de decisão.</p>
			</article>


			<footer style="background-color: #5f0b8a; bottom: 0; display: flex; justify-content: space-between; padding: 20px; position: absolute; width: 100%;">
				<div class="left" style="text-align: left;">
					<h4><a href="#">facebook</a></h4>
				</div>
				<div class="center" style="text-align: center;">
						<h4><a href="#">insta</a></h4>
				</div>
				<div class="right" style="text-align: right;">
						<h4><a href="#">youtube</a></h4>
				</div>
			</footer>
		</div>
</body>		
</html>
