<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
    <body style="
            margin: 0;
            padding: 0;
            background: #f6f6f6;
            color: #153643;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 20px;
           ">

        <table
                align="center" border="0" bgcolor="#f6f6f6"
                cellpadding="0" cellspacing="0" width="750"
                style="border-collapse: collapse; ">
            <tr>
                <td align="center" bgcolor="#f6f6f6" style="padding: 0px 0 0px 0;">
                    <img alt="logo" width="100%" height="auto" style="display: block;" src="cid:logo_slim.png"/>
                    <img alt="logo" width="100%" height="auto" style="display: block;" src="cid:logo_slim.png"/>
                </td>
            </tr>

            <tr>
                <td>
                    <img alt="logo" width="100%" height="auto" style="display: block;" src="cid:main_picture_meeting.png"/>
                    <img alt="logo" width="100%" height="auto" style="display: block;" src="cid:main_picture_meeting.png"/>
                </td>
            </tr>

            <tr>
                <td bgcolor="#f6f6f6" style="padding: 10px 15px;">
                    <h3>
					    Olá <samp style="color: #000; font-weight: bolder;">{0}!</samp>
				    </h3>
                    <p>Agora que você já concluiu duas etapas, queremos saber o melhor horário para nossa reunião por vídeo chamada.</p>
                    <p style="text-indent: 1.5em;">Podemos agenda no dia {date} as {hour1} ou  {hour2}</p>
                    <p style="text-indent: 1.5em;">Envie um email a <a href="mailto:atendimento@yourcont.com.br?Subject=Confirmação de data" target="_top"> atendimento@yourcont.com.br </a> com o titulo: <b>Confirmação de data</b> para a confirmação de nossa reunião online.</p>
                    <p>Link da reunião {link}</p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #828AC5; padding: 5px 5px 5px 5px;">
                    <a href="https://www.facebook.com" style="margin: 5px; padding: 5px; text-decoration:none;">
                        <img class="my_net_icon" alt src="cid:footer_icon_facebook.png" style="background: #f6f6f6; border: 2px solid #000; height: 20px; margin: 4px; padding: 3px; width: 20px;">
                        <img width="20" height="20" alt="" src="cid:footer_icon_facebook.png" />
                    </a>

                    <a href="https://www.instagram.com/" style="margin: 5px; padding: 5px; text-decoration:none;">
                        <img class="my_net_icon" alt src="cid:footer_icon_instagram.png" style="background: #f6f6f6; border: 2px solid #000; height: 20px; margin: 4px; padding: 3px; width: 20px;">
                        <img width="20" height="20"  alt="" src="cid:footer_icon_instagram.png" />
                    </a>

                    <a href="https://{link}" style="margin: 5px; padding: 5px; text-decoration:none;">
                        <img class="my_net_icon" alt src="cid:footer_icon_appear-in.png" style="background: #f6f6f6; border: 2px solid #000; height: 20px; margin: 4px; padding: 3px; width: 20px;">
                        <img width="20" height="20"  alt="" src="cid:footer_icon_appear-in.png" />
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>