<img alt="" class="header_img" src="cid:main_picture_contract.png"/>
<img alt="logo" width="100%" height="auto" style="display: block;" src="cid:logo_slim.png"/>
<img class="my_net_icon" alt src="cid:footer_icon_instagram.png" style="background: #f6f6f6; border: 2px solid #000; height: 20px; margin: 4px; padding: 3px; width: 20px;">
<img class="my_net_icon" alt src="cid:footer_icon_facebook.png" style="background: #f6f6f6; border: 2px solid #000; height: 20px; margin: 4px; padding: 3px; width: 20px;">
<p>Rotina de Documentos</p>