<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
    <body style="
            margin: 0;
            padding: 0;
            background: #f6f6f6;
            color: #303030;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 20px;
           ">

        <table
                align="center" border="0" bgcolor="#f6f6f6"
                cellpadding="0" cellspacing="0" width="750"
                style="border-collapse: collapse; color: #303030; ">
            <tr>
                <td align="center" bgcolor="#f6f6f6">
                    <img alt="logo" width="100%" height="auto" style="display: block;" src="cid:logo_slim.png"/>
                    <!--<img alt="logo" width="100%" height="auto" style="display: block;" src="../../../static/email/img/logo_slim.png"/>-->
                </td>
            </tr>
			<tr>
				<td>
					<br>
				</td>
			</tr>
			<tr>
				<td>
					<img alt="" class="header_img" width="100%" src="cid:main_picture_welcome.jpg"/>
					<!--<img alt="" class="header_img" width="100%" src="../../../static/email/img/main_picture_welcome.jpg" />-->
				</td>
			</tr>

            <tr>
                <td bgcolor="#f6f6f6" style="padding: 10px 15px;">
                    <h3>
						Olá <samp class="usuario_destacado" style="color: #000; font-weight: bolder;">{0}!</samp>
					</h3>
					<p style="text-indent: 1.5em;">Agora você também faz parte do grupo de Sellers Yourcont que escolheram ter mais tempo para gerir o seu negócio e redefinir a maneira como você cuida da saúde da sua empresa.</p>
					<p style="text-indent: 1.5em;">Nós também estamos felizes em tê-lo como nosso parceiro e entendemos a importância em ajuda-lo a economizar tempo.</p>
					<p style="text-indent: 1.5em;">Os clientes Yourcont têm nosso auxilio para se organizar melhor e de uma maneira pensada para os dias de hoje, mais inteligente, simples e transparente.</p>
					<p style="text-indent: 1.5em;">A partir de hoje, todos os dados da sua empresa terão que ser devidamente inseridos e organizados, em seu sistema de gestão, isso permitirá que a Yourcont oriente você para uma melhor tomada de decisão.</p>

                </td>
            </tr>
            <tr>
                <td style="background-color: #828AC5; padding: 5px 5px 5px 5px;">
                    <a href="https://www.facebook.com" style="margin: 5px; padding: 5px; text-decoration:none;">
                        <img width="20" height="20" alt="" src="cid:footer_icon_facebook.png" />
                        <!--<img width="20" height="20" alt="" src="../../../static/email/img/footer_icon_facebook.png" />-->
                    </a>

                    <a href="https://www.instagram.com/" style="margin: 5px; padding: 5px; text-decoration:none;">
                        <img width="20" height="20"  alt="" src="cid:footer_icon_instagram.png" />
                        <!--<img width="20" height="20"  alt="" src="../../../static/email/img/footer_icon_instagram.png" />-->
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>